<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Payment</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family:  monospace;
        }
    </style>
</head>
<body>
    <h1>Payment successfully received</h1>
    <table>
        <tr>
            <th>Amount</th>
            <td>{<% transaction.currency %><% transaction.amount %></td>
        </tr>
        <tr>
            <th>From</th>
            <td><% sender.name %> - <% sender.email %></td>
        </tr>
        <tr>
            <th>Date</th>
            <td><% transaction.date %></td>
        </tr>
    </table>
</body>
</html>